################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyDb.db
/MyDb.db-wal
/MyDb.db-shm
/bin/Debug/net6.0
